---
title: Operating Systems
layout: mainPage
showTOC: false
---
<h1>Operating Systems</h1>

This page contains information about the operating systems that I have come across throughout my career (read journey) as a software developer.

<ul>
  {% for os in site.operating_systems %}
  {% comment %}
  comments go here!
  {% endcomment %}
  {% if os.url != page.url %}
  <li>
    <h2><a href="{{ os.url | relative_url }}">{{ os.title }}</a></h2>
    <!-- Just show the first paragraph of the framework page -->
    <p>{{ os.excerpt }}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>