{% comment %}
Unfortunately this does't actually work!
It certainly collects all of the tags from all of the pages/documents,
but this doesn't work nicely when you have tags in other collections.
{% endcomment %}

{% assign rawtags = "" %}
{% for post in site.documents %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign site.tags = "" %}
{% for tag in rawtags %}
{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}
{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}
{% assign site.all_tags = tags %}