<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->

<!-- Set site favicons, use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href={{ '/assets/images/favicon/apple-touch-icon.png' | relative_url }}>
<link rel="icon" type="image/png" sizes="32x32" href={{ '/assets/images/favicon/favicon-32x32.png' | relative_url }}>
<link rel="icon" type="image/png" sizes="16x16" href={{ '/assets/images/favicon/favicon-16x16.png' | relative_url }}>
<link rel="manifest" href={{ '/assets/images/favicon/site.webmanifest' | relative_url }}>
<link rel="mask-icon" href={{ '/assets/images/favicon/safari-pinned-tab.svg' | relative_url }} color="#5bbad5">
<link rel="shortcut icon" href={{ '/assets/images/favicon/favicon.ico' | relative_url }}>
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content={{ '/assets/images/favicon/browserconfig.xml' | relative_url }}>
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->