---
title: Frameworks
layout: mainPage
showTOC: false
---
<h1>Frameworks</h1>

This page contains to frameworks that I have discovered as a part of my development journey.

<ul>
  {% for framework in site.frameworks %}
  {% comment %}
  comments go here!
  {% endcomment %}
  {% if framework.url != page.url %}
  <li>
    <h2><a href="{{ framework.url | relative_url }}">{{ framework.name }}</a></h2>
    <!-- Just show the first paragraph of the framework page -->
    <p>{{ framework.excerpt }}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>