---
layout: default
---
<h1>{{ page.name }}</h1>
<!--<h2>{{ page.position }}</h2>-->

{{ content }}

<h2>Topics</h2>

  <ul>
    <!-- TODO find a better way to do this rather than on a per language basis -->
    <!-- javascript -->
    {% assign filtered_topics = site.javascript | where: 'language', page.language %}
    {% for topic in filtered_topics %}
      <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
    {% endfor %}
    <!-- typescript -->
    {% assign filtered_topics = site.typescript | where: 'language', page.language %}
    {% for topic in filtered_topics %}
      <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
    {% endfor %}
  </ul>
